
/Sources/Patcher/SkyFirePatcher.suo
/Sources/Patcher/SkyFirePatcher/bin/
/Sources/Patcher/SkyFirePatcher/obj/
/5xx Patcher/Client Patcher/bin/x64/Debug
/5xx Patcher/Client Patcher/bin/x64/Release
/5xx Patcher/Client Patcher/obj/x64/Debug
/5xx Patcher/Client Patcher/obj/x64/Release
/5xx Patcher/World of Warcraft Tools.v11.suo
/Sources/VS2008_Patcher/SkyFirePatcher/bin/Debug
/Sources/VS2008_Patcher
